
        <!-- Header Ends -->
        
       {% extends 'base.html' %}
{% block content %}
        <div class="warper container-fluid">

            <div class="page-header"><h1>Academico <small>Administracion de estudiante</small></h1></div>
            <div class="panel panel-default">
                        <div class="panel-heading">Informacion</div>
                        <div class="panel-body">

                        	<table class="table table-striped no-margn">
                              <thead>
                                <tr>
                                  <th>Programa</th>
                                    <th>Semestre</th>
                                  <th>Creditos matriculados</th>
                                  <th>Creditos que puede matricular</th>

                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Ing.de sistemas</td>
                                  <td>09</td>
                                  <td>04</td>
                                    <td>20</td>


                                </tr>


                              </tbody>
                            </table>

                        </div>
                    </div>
<div class="panel panel-default">
                        <div class="panel-heading">Horario</div>
                        <div class="panel-body">
 <!-- horario -->

<div class="cal-row-fluid cal-row-head">

		<div class="cal-cell1">Materia</div>

		<div class="cal-cell1">Lunes</div>

		<div class="cal-cell1">Martes</div>

		<div class="cal-cell1">Miercoles</div>

		<div class="cal-cell1">Jueves</div>

		<div class="cal-cell1">Viernes</div>

		<div class="cal-cell1">Sabado</div>

</div>
<div class="cal-month-box">







		<div class="cal-row-fluid cal-before-eventlist">
<!-- materia -->
			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title="">Control 1</span>
            </div>
<!-- fin materia -->
            <!-- dia 1 -->
			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title="">06:00-07:59</span>
            </div>
<!-- fin dia1 -->
                        <!-- dia 1 -->
			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title=""></span>
            </div>
<!-- fin dia1 -->
                        <!-- dia 1 -->
			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title=""></span>
            </div>
<!-- fin dia1 -->
                        <!-- dia 1 -->
			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title=""></span>
            </div>
<!-- fin dia1 -->
                        <!-- dia 1 -->
			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title="">08:00-09:59</span>
            </div>
<!-- fin dia1 -->
                        <!-- dia 1 -->
			<div class="cal-cell1 cal-cell" data-cal-row="-day1">

	             <span data-original-title="" class="pull-right" data-cal-date="2013-03-17" data-cal-view="day"  title=""></span>
            </div>
<!-- fin dia1 -->
		</div>







</div>

 <!-- fin horario -->
                        </div>
                    </div>
 <!-- fila comienzo -->


            <div style="text-align: right">
  <a href="/">
                     <button type="button" class="btn btn-warning">
                                  <span class="glyphicon glyphicon-arrow-left"></span> Regresar


                                </button>
                </a>

                  <button type="button" class="btn btn-warning">
                                  <span class="fa fa-close"></span> Eliminar

                                </button>
            </div>

 <!-- fila final -->

                </div>



        
{% endblock %}