
        <!-- Header Ends -->
        
       {% extends 'base.html' %}
{% block content %}
        <div class="warper container-fluid">

            <div class="page-header"><h1>Academico <small>Administracion de estudiante</small></h1></div>
            
 <!-- fila comienzo -->
            <div class="row">
<div class="panel panel-default">
                        <div class="panel-heading">Opciones</div>
                        <div class="panel-body">

    <!-- item 1 matricula -->

                 	<div class="col-md-6">
<div style="text-align: center">
                            	<div class="panel-body text-center">

                                      <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">

                                    <div>Consultar registro extendido</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Ir</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                                </div>
</div>

                        </div>


<!-- item matricula final -->

                                <!-- item 1 matricula -->

                 	<div class="col-md-6">

                            	<div class="panel-body text-center">

                                      <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">

                                    <div>Consultar notas actuales</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Ir</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                                </div>


                        </div>
<!-- item matricula final -->

</div>


                            </div>



 <!-- fila final -->

                </div>
</div>



        
{% endblock %}